			.originalTextareaInfo {
				font-size: 12px;
				color: #000000;
				font-family: Tahoma, sans-serif;
				text-align: right
			}
			
			.warningTextareaInfo {
				font-size: 12px;
				color: #AAAA00;
				font-family: Tahoma, sans-serif;
				text-align: right
			}
			.errorTextareaInfo {
				font-size: 12px;
				color: #AA0000;
				font-family: Tahoma, sans-serif;
				text-align: right
			}
			
			#showData {
				height: 70px;
				width: 200px;
				border: 1px solid #CCCCCC;
				padding: 10px;
				margin: 10px;
			}


#add_user_form label.error{margin-left:0px;width:auto;display:inline;color: red}
#add_user_form label.error{display:none;margin-left:0px;}

#chartdiv {
	width		: 100%;
	height		: 435px;
	font-size	: 11px;
}


.x_panel {
    width: 100%;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}

.x_panel, .x_title {
    margin-bottom: 10px;
}